.contact {
    width:                  100%;
    height:                 700px;
    background-size:        cover;
    background-repeat:      no-repeat;
    z-index:                1;

    &__form {
        position:           absolute;
        width:              770px;
        height:             450px;
        background-color: #fff;
        z-index:            2;
        top:                4900px;
        padding:            60px;
    }

    &__hero {
        width:              100%;
        height:             50px;
        display:            flex;
        flex-direction:     column;
        align-items:        center;
        justify-content:    space-between;
    }

    &__rule-divider {
        border:             1px solid rgb(44, 64, 88);
    }

    &__title {
        font-family:        $gothamMediumRegular;
        text-transform:     uppercase;
        font-size:          30px;
        color:              rgb(44, 64, 88);
    }

    &__form-content {
        width:              100%;
        height:             210px;
        margin-top:         45px;
        display:            flex;
        gap:                20px;
        justify-content:    center;
    }

    &__author-info {
        width:              48%;
        height:             100%;
        display:            flex;
        flex-direction:     column;
        justify-content:    space-between;
        font-size:          16px;
        font-family:        $gothamBook;
        color:              rgb(44, 64, 88);
    }

    &__contragent-info {
        width:              48%;
        height:             100%;
        display:            flex;
        flex-direction:     column;
        align-items:        flex-end;
        gap:                30px;
    }

    &__glyph {
        color:              rgb(126, 90, 255);
    }

    &__input {
        width:              100%;
        height:             40px;
        border-top:         none;
        border-right:       none;
        border-left:        none;
        border-bottom:      1px solid rgb(213, 217, 222);
        font-family:        $gothamBook;

        &:focus {
            border-bottom:      2px solid rgb(44, 64, 88);
            color:              rgb(44, 64, 88);
        }
    }

    &__submit {
        width:              140px;
        height:             50px;
        text-transform:     uppercase;
        font-family:        $gothamBook;
        color:              rgb(44, 64, 88);
    }
} 

@media(max-width: 1400px) {
    .contact {
        &__form {
            top:        4780px;
        }
    }
}

@media(max-width: 1200px) {
    .contact {
        &__form {
            top:        4700px;
        }
    }
}

@media(max-width: 1020px) {
    .contact {
        &__form {
            top:        4250px;
        }
    }
}

@media(max-width: 980px) {
    .contact {
        &__form {
            top:        4030px;
        }
    }
}

@media(max-width: 975px) {
    .contact {
        &__form {
            top:        3830px;
        }
    }
}

@media(max-width: 970px) {
    .contact {
        &__form {
            top:        3593px;
        }
    }
}

@media(max-width: 870px) {
    .contact {
        &__form {
            top:        3480px;
            width:      670px;
        }

        &__title {
            font-size: 25px;
        }

        &__author-info, &____contragent-info, &__submit {
            font-size: 14px;
        }
    }
}

@media(max-width: 815px) {
    .contact {
        &__form {
            top:        3850px;
        }
    }
}

@media(max-width: 785px) {
    .contact {
        &__form {
            top:        4420px;
        }
    }
}

@media(max-width: 730px) {
    .contact {
        &__form {
            top:        4444px;
            width:      600px;
        }
    }
}

@media(max-width: 720px) {
    .contact {
        &__form {
            top:        4395px;
        }
    }
}

@media(max-width: 640px) {
    .contact {
        &__form {
            top:            4363px;
            padding:        45px 0px;
            display:        flex;
            flex-direction: column;
            gap:            40px;
            height:         500px;
            width:          300px;
        }

        &__form-content {
            justify-content:    center;
            flex-direction:     column;
            align-items:        center;
        }

        &__author-info {
            gap:        20px;
            width:      80%;
        }

        &__contragent-info {
            gap:        15px;
            width:      75%;
        }

        &__submit {
            width:      100px;
            height:     30px;
            margin-top: 30px;
        }
    }
}

@media(max-width: 587px) {
    .contact {
        &__form {
            top:        4390px;
        }
    }
}

@media(max-width: 545px) {
    .contact {
        &__form {
            top:        4419px;
        }
    }
}

@media(max-width: 530px) {
    .contact {
        &__form {
            top:        4048px;
        }
    }
}

@media(max-width: 434px) {
    .contact {
        &__form {
            top:        4075px;
        }
    }
}

@media(max-width: 430px) {
    .contact {
        &__form {
            top:        3720px;
        }
    }
}

@media(max-width: 429px) {
    .contact {
        &__form {
            top:        4470px;
        }
    }
}

@media(max-width: 418px) {
    .contact {
        &__form {
            top:        4500px;
        }
    }
}

@media(max-width: 400px) {
    .contact {
        &__form {
            top:        4240px;
        }
    }
}

@media(max-width: 390px) {
    .contact {
        &__form {
            top:        4269px;
        }
    }
}

@media(max-width: 360px) {
    .contact {
        &__form {
            top:        4296px;
        }
    }
}

@media(max-width: 330px) {
    .contact {
        &__form {
            top:        4325px;
        }
    }
}

@media(max-width: 328px) {
    .contact {
        &__form {
            top:        4352px;
        }
    }
}