.footer {
    width:                  100%;
    height:                 525px;
    background-size:        cover;
    background-repeat:      no-repeat;
    display:                flex;
    justify-content:        center;
    align-items:            center;

    &__logo {
        width:              250px;
        height:             auto;
    }

    &__content {
        width:              770px;
        height:             170px;
        display:            flex;
        justify-content:    space-between;
    }

    &__info {
        display:            flex;
        flex-direction:     column;
        justify-content:    flex-end;
        gap:                40px;
    }

    &__text {
        font-family:            $gothamBook;
        color:                  #fff;
        font-size:              12px;
    }

    &__socialnets {
        width:              170px;
        height:             100%;
    }
} 

@media(max-width:820px) {
    .footer {
        &__content {
            width: 680px;
        }
    }
}

@media(max-width:820px) {
    .footer {
        &__content {
            width: 530px;
        }
    }
}

@media(max-width:610px) {
    .footer {
        &__logo {
            width: 180px;
        }

        &__content {
            width: 350px;
        }

        .socnets {
            margin-top: 35px;

            &__social-logo {
                width: 25px;
                height: 25px;
    
                & > i {
                    font-size: 12px;
                }
            }
        }

        &__info {
            gap: 15px;
        }
    }

    
}

@media(max-width: 400px) {
    .footer {
        &__logo {
            width: 140px;
        }
    
        &__text {
            font-size: 10px;
        }

        &__content {
            width: 90%;
        }
    }
}