.gallery {
    width:                  100%;
    height:                 1000px;
    padding:                140px 215px;

    &__hero {
        width:              100%;
        height:             80px;
        display:            flex;
        flex-direction:     column;
        align-items:        center;
        justify-content:    space-between;
    }

    &__rule-divider {
        border:             1px solid rgb(44, 64, 88);
    }

    &__title {
        font-family:        $gothamMediumRegular;
        text-transform:     uppercase;
        font-size:          30px;
        color:              rgb(44, 64, 88);
    }

    &__album {
        width:              1170px;
        height:             440px;
        display:            flex;
        gap:                12px;
        margin:             auto;
        margin-top:         70px;
    }

    &__left-pane {
        height:             100%;
        width:              49%;
        background-image:   url('../../images/gallery/panorama.png');
        background-size:    cover;
        background-repeat:  no-repeat;
        display:            flex;
        justify-content:    center;
        align-items:        center;
    }

    &__right-pane {
        width:              50%;
        height:             100%;
        display:            flex;
        flex-wrap:          wrap;
        gap:                12px;
    }

    &__mosaic {
        width:              285px;
        height:             215px;
        background-size:    cover;
        background-repeat:  no-repeat;
    }

    &__linkbutton-container {
        width:              100%;
        margin-top:         70px;
        height:             50px;
        display:            flex;
        justify-content:    center;
    }
}

#gallery-top-left {
    background-image:       url('../../images/gallery/top-left.png');
}

#gallery-top-right {
    background-image:       url('../../images/gallery/top-right.png');
}

#gallery-bottom-right {
    background-image:       url('../../images/gallery/bottom-right.png');
}

#gallery-bottom-left {
    background-image:       url('../../images/gallery/bottom-left.png');
} 