.gallery {
    width:                  100%;
    height:                 1000px;
    padding:                140px 215px;

    &__hero {
        width:              100%;
        height:             80px;
        display:            flex;
        flex-direction:     column;
        align-items:        center;
        justify-content:    space-between;
    }

    &__rule-divider {
        border:             1px solid rgb(44, 64, 88);
    }

    &__title {
        font-family:        $gothamMediumRegular;
        text-transform:     uppercase;
        font-size:          30px;
        color:              rgb(44, 64, 88);
    }

    &__album {
        width:              100%;
        height:             440px;
        display:            flex;
        gap:                12px;
        margin:             auto;
        margin-top:         70px;
    }

    &__left-pane {
        height:             100%;
        width:              49%;
        background-size:    cover;
        background-repeat:  no-repeat;
        display:            flex;
        justify-content:    center;
        align-items:        center;
    }

    &__right-pane {
        width:              50%;
        height:             100%;
        display:            flex;
        flex-wrap:          wrap;
        gap:                12px;
    }

    &__mosaic {
        width:              48%;
        height:             48%;
        background-size:    cover;
        background-repeat:  no-repeat;
    }

    &__linkbutton-container {
        width:              100%;
        margin-top:         70px;
        height:             50px;
        display:            flex;
        justify-content:    center;
    }
}

@media(max-width: 1300px) {
    .gallery {
        &__album {
            height: 410px;
        }
    }
}

@media(max-width: 1160px) {
    .gallery {
        padding: 100px 120px;
        &__album {
            height: 410px;
        }
    }
}

@media(max-width: 980px) {
    .gallery {
        height: 780px;
        &__album {
            height: 300px;
        }
    }
}

@media(max-width: 870px) {
    .gallery {
        padding: 65px 80px;
        height: 670px;

        &__album {
            margin-top: 50px;
        }
    }
}

@media(max-width: 785px) {
    .gallery {
        padding: 45px 40px;
        height: auto;

        &__linkbutton-container {
            margin-top: 45px;
        }

        &__album {
            flex-direction: column;
            height: 895px;
        }

        &__left-pane, &__right-pane {
            width:100%;
        }
    }
}

@media(max-width: 530px) {
    .gallery {
        &__album {
            height: 680px;
        }
    }
}

@media(max-width: 400px) {
    .gallery {
        padding: 30px 30px;
        
        &__album {
            height: 440px;
        }

        &__right-pane {
            gap: 7px;
        }
    }
}