.header {
    width:                  100%;
    height:                 800px;
    background-size:        cover;
    background-repeat:      no-repeat;
    display:                flex;
    flex-direction:         column;
    gap:                    200px;

    &__navbar {
        width:              100%;
        height:             164px;
        padding:            0 215px;
        display:            flex;
        justify-content:    space-between;
        align-items:        center;
        gap:                30px;
    }

    &__logo {
        height:             100%;
        width:              270px;
        background-position:    center center;
        background-repeat:      no-repeat;
    }

    &__nav {
        width:              670px;
        height:             100%;
    }

    &__socialnets {
        width:              170px;
        height:             100%;
    }

    &__hero {
        display:            flex;
        flex-direction:     column;
        justify-content:    center;
        align-items:        center;
        gap:                40px;
        color:              #fff;
        width:              100%;
        height:             130px;
    }

    &__title {
        font-family:        $gothamBold1;
        text-transform:     uppercase;
        font-size:          60px;
        letter-spacing:     18px;
    }

    &__slogan {
        font-family:        $gothamBook;
        font-size:          15px;
        text-transform:     uppercase;
        letter-spacing:     8px;
    }

    &__shevron {
        display:            block;
        border:             1px solid rgb(203, 221, 251);
        width:              50px;
        height:             50px;
        align-self:         center;
        border-radius:      50%;
        display:            flex;
        justify-content:    center;
        align-items:        center;
        color:              #fff;
        text-decoration:    none;
        padding:            3px;
        transition:         padding-top .35s ease-in-out;

        &:hover {
            padding-top:        15px;
            background-color: rgba(97, 114, 136, 0.7);
            border:             2px solid lightskyblue;
            color:              lightskyblue;
        }
    }
} 

@media(max-width: 1500px) {
    .header {
        .navigation {
            gap: 40px;
        }

        &__nav {
            width: 560px;
        }
    }
}

@media(max-width: 1400px) {
    .header {
        &__nav {
            width: 510px;
        }

        &__navbar {
            padding: 0px 50px;
        }
    }
}

@media(max-width: 1075px) {
    .header {
        & .navigation {
            gap: 20px;
        }

        &__navbar {
            padding: 0px 20px;
        }

        &__nav {
            width: 420px;
        }
    }
}

@media(max-width: 975px) {
    .header {
        height: 600px;
        gap: 110px;

        &__nav, .navigation {
            display: none;
        }

        &__title {
            font-size: 40px;
        }

        &__slogan {
            font-size: 11px;
            letter-spacing: 6px;
        }

        &__navbar {
            height: 100px;
        }
    }
}

@media(max-width: 720px) {
    .header {
        height: 550px;

        &__title {
            font-size: 30px;
            letter-spacing: 13px;
        }

        &__slogan {
            font-size: 10px;
            letter-spacing: 4px;
        }
    }
}

@media(max-width: 530px) {
    .header {
        &__logo {
            width: 150px;
            background-size: 100% auto;
        }

        .socnets__social-logo {
            width: 30px;
            height: 30px;
        }

        &__shevron {
            width: 35px;
            height: 35px;
        }

        &__socialnets {
            width: 125px;
        }

        &__title {
            font-size: 25px;
            letter-spacing: 10px;
        }

        &__hero {
            gap: 25px;
        }

        &__slogan {
            display:        block;
            width:          80%;
            margin:         auto;
            text-align:     center;
            line-height:    20px;
        }
    }
}

@media(max-width: 450px) {
    .header {
        &__title {
            font-size: 18px;
            letter-spacing: 8px;
        }
    }
}

@media(max-width: 330px) {
    .header {
        &__title {
            font-size: 15px;
            letter-spacing: 6px;
        }

        &__slogan {
            line-height: 15px;
        }

        .socnets__social-logo {
            font-size: 10px;
            width: 25px;
            height: 25px;
        }

        &__socialnets {
            width: 95px;
        }
    }
}