.news {
    width:                  100%;
    height:                 1035px;
    //background-image:       url('../../images/news/news-background-with-gradient.png');
    background-size:        cover;
    background-repeat:      no-repeat;
    padding:                138px 105px;
    display:                flex;
    flex-direction:         column;
    align-items:            center;

    &__rule-divider {
        border:             1px solid #fff;
    }

    &__title {
        margin-top:         40px;
        font-family:        $gothamMediumRegular;
        color:              #fff;
        text-transform:     uppercase;
        font-size:          34px;
    }

    &__slider {
        width:              95%;
        margin-top:         100px;
    }

    &__slide {
        width:              370px;
        height:             540px;
        background-color:   #fff;
        margin:             0 30px;
    }
} 

.slide {
    &__photo {
        width:              100%;
        height:             245px;
        background-size:    cover;
        background-repeat:  no-repeat;
    }

    &__content {
        width:              100%;
        height:             273px;
        padding:            24px;
    }
    
    &__header {
        font-family:        $gothamBold1;
        font-size:          18px;
        text-transform:     uppercase;
        letter-spacing:     1px;
        line-height:        35px;
        color:              rgb(44, 64, 88);
    }

    &__text {
        font-family:        $gothamLight;
        line-height:        28px;
        color:            rgb(75, 85, 98);
        font-size:          15px;
        margin-top:         22px;
    }

    &__author {
        margin-top:         38px;
        display:            flex;
        align-items:        center;
        gap:                20px;
    }

    &__author-photo {
        height:             60px;
        width:              60px;
        background-size:    cover;
        background-repeat:  no-repeat;
    }

    &__author-info {
        display:            flex;
        flex-direction:     column;
        justify-content:    center;
        gap:                14px;
    }

    &__author-name {
        text-transform:         uppercase;
        font-family:            $gothamBook;
        font-size:              16px;
        color:                  rgb(44, 64, 88);
    }

    &__publication {
        font-family:            $gothamBook;
        font-size:              14px;
        color:                  rgb(65, 183, 255)
    }
}

/*
.first-slide {
    background-image: url('../../images/news/news1.png');
}

.second-slide {
    background-image: url('../../images/news/news2.png');
}

.third-slide {
    background-image: url('../../images/news/news3.png');
}

.fourth-slide {
    background-image: url('../../images/news/news4.png');
}

.fifth-slide {
    background-image: url('../../images/news/news5.png');
}

#author-first {
    background-image: url('../../images/news/news1-author.png');
}

#author-second {
    background-image: url('../../images/news/news2-author.png');
}

#author-third {
    background-image: url('../../images/news/news3-author.png');
}

#author-fourth {
    background-image: url('../../images/news/news4-author.png');
}

#author-fifth {
    background-image: url('../../images/news/news5-author.png');
}
*/

@media(max-width: 1490px) {
    .slide {
        height:         470px;

        &__photo {
            height:     200px;
        }

        &__header {
            font-size:      15px;
            line-height:    25px;
        }

        &__text {
            line-height:    23px;
            font-size:      14px;
        }

        &__author {
            margin-top:     30px;
        }

        &__author-info {
            gap:            8px;
        }

        &__author-name {
            font-size:      13px;
        }

        &__publication {
            font-size:      11px;
        }
    }
}

@media(max-width: 1350px) {
    .news__slide {
        margin:             0 28px;
    }
}

@media(max-width: 970px) {
    .news {
        height: auto;
        padding:            75px 77px;

        &__slider {
            width:          95%;
            margin-top:     70px;
        }
    }
}

@media(max-width: 910px) {
    .news__slider {
        width: 75%;
    }
}

@media(max-width: 790px) {
    .slick-track {
        width: 95%;
    }
}

@media(max-width: 590px) {
    .slide__photo {
        height: 160px;
    }

    .slick-dots li {
        margin: 0 8px !important;
    }
}

@media(max-width: 530px) {
    .news {
        &__slider {
            width: 90%;
            margin-top: 50px;
        }

        &__title {
            margin-top: 25px;
            font-size: 22px;
        }
        

        .slick-track {
            width: 95%;
        }

        .slide {
            height: 360px;

            &__header {
                font-size: 10px;
                line-height: 18px;
            }

            &__author-photo {
                display:        none;
            }

            &__photo {
                display:        none;
            }

            &__text {
                line-height: 23px;
                font-size: 10px;
            }

            &__author-name {
                font-size: 9px;
            }

            &__publication {
                font-size: 8px;
            }
        }
    }
}

@media(max-width: 430px) {
    .news {
        padding: 75px 0px;
        &__slide {
            margin: 5px 0;
            height: 190px !important;
            width: 95%;
        }
    }
}