.projects {
    width:                  100%;
    height:                 auto;

    &__hero {
        width:              100%;
        height:             270px;
        display:            flex;
        flex-direction:     column;
        justify-content:    center;
        align-items:        center;
        gap:                40px;
    }

    &__title {
        text-transform:     uppercase;
        font-family:        $gothamBold1;
        font-size:          33px;
        color:              rgb(44, 64, 88);
    }

    &__rule-divider {
        border:             1px solid rgb(44, 64, 88);
    }

    &__card {
        width:              100%;
        height:             540px;
        margin-bottom:      140px;
        display:            flex;
    }

    &__outline {
        height:             100%;
        width:              50%;
        display:            flex;

        &:nth-child(even) {
            justify-content:    flex-end;
        }
    }

    &__imgarea {
        width:              630px;
        height:             470px;

        &_even {
            background-color: rgb(85, 183, 255);
        }

        &_odd {
            background-color: rgb(126, 90, 255);
        }
    }

    &__photo {
        position:           relative;
        width:              630px;
        height:             auto;

        &_even {
            top:                70px;
            left:               25%;
        }

        &_odd {
            top:                70px;
            right:               25%;
        }
    }

    &__description {
        width:              50%;
        height:             100%;
        display:            flex;
        flex-direction:     column;
        justify-content:    flex-start;
        padding:            70px;

        &:nth-child(odd) {
            align-items:    flex-end;
        }
    }

    &__slogan {
        font-size:          18px;
        text-transform:     uppercase;
        color:              rgb(44, 64, 88);
        font-family:        $gothamBook;
        margin-top:         58px;
        width:              470px;
    }

    &__name {
        font-family:        $gothamBold1;
        font-size:          33px;
        text-transform:     uppercase;
        color:              rgb(44, 64, 88);
        margin-top:         15px;
        width:              470px;
    }

    &__overwiev {
        width:              470px;
        margin-top:         36px;
        font-family:        $gothamLight;
        line-height:        30px;
        color:            rgb(123, 129, 138);
        font-size:          18px;
    }

    &__linkbutton-container {
        width:              470px;
        margin-top:         40px;
        height:             50px;
    }

    &__location {
        margin-top:         60px;
        width:              470px;
        font-family:        $gothamBook;
        font-size:          17px;
        font-style:         italic;
        color:              rgb(44, 64, 88);
    }
} 

@media(max-width: 1600px) {
    .projects {
        &__photo_even {
            top: 70px;
            left: 10%;
        }

        &__photo_odd {
            top: 70px;
            right: 10%;
        }
    }
}

@media(max-width: 1400px) {
    .projects {
        &__card {
            height: 480px;
        }

        &__imgarea {
            width: 570px;
            height: 427px;
        }

        &__photo {
            width: 570px;
        }
    }
}

@media(max-width:1200px) {
    .projects {
        &__description {
            padding: 20px;
        }

        &__card {
            height: 440px;
        }

        &__imgarea {
            width: 450px;
            height: 337px;
        }

        &__photo {
            width: 450px;
        }

        &__slogan {
            margin-top: 15px;
        }
    }
}

@media(max-width:1020px) {
    .projects {
        &__photo_even, &__photo_odd {
            top: 15%;
        }

        &__imgarea {
            width: 350px;
            height: 263px;
        }

        &__photo {
            width: 350px;
        }

        &__slogan {
            font-size: 14px;
            width: 100%;
        }

        &__name {
            font-size: 25px;
            width: 100%;
        }

        &__overwiev {
            margin-top: 20px;
            line-height: 28px;
            font-size: 15px;
            width: 100%;
        }

        &__linkbutton-container {
            margin-top: 20px;
            height: 40px;
            width: 100%;
        }

        &__location {
            margin-top: 30px;
            font-size: 13px;
            width: 100%;
        }

        &__card {
            height: 250px;
        }

        &__hero {
            height: 200px;
        }

        .linkbutton {
            height: 39px;
            width: 130px;
            font-size: 13px;
            padding: 12px 12px;
        }
    }
}

@media(max-width:815px) {
    .projects {
        &__card {
            flex-direction: column;
            height: auto;
            margin-bottom: 36px;
        }

        &__outline {
            height: 60%;
            width: 100%;
        }

        &__photo_even {
            top: 7%;
            left: 5%;
        }

        &__photo_odd {
            top: 7%;
            right: 6%;
        }

        &__outline:nth-child(even) {
            order: -1;
        }

        &__description {
            width: 75%;

            &:nth-child(odd) {
                text-align: end;
                margin-left: 25%;

                & > .projects__linkbutton-container {
                    display:flex;
                    justify-content:flex-end;
                }
            }
        }

        &__hero {
            height: 170px;
            gap: 25px;
        }

        &__title {
            font-size: 25px;
        }
    }
}

@media(max-width:430px) {
    .projects {
        &__description {
            width: 80%;
        }

        &__imgarea {
            width: 250px;
            height: 187px;
        }

        &__photo {
            width: 250px;
        }

        &__card {
            padding-right: 10px;
        }

        &__name {
            font-size: 18px;
        }
    }
}
